/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}
.conteiner {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}
	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.mat-form-field-wrapper {
	width: 200px;
}
