.wrapper {
	display: flex;
	padding: 40px 20px;
	justify-content: center;
	align-items: center;
}
.currency {
	display: flex;
	flex-direction: column;
}
.currency__input {
	width: 300px;
}
[mat-icon-button] {
	margin-left: 20px;
	margin-right: 20px;
}
