<div class="wrapper">
	<div class="currency first-currency">
		<mat-form-field appearance="fill">
			<mat-label>Currency</mat-label>
			<mat-select [(ngModel)]="valTwoInt">
				<mat-option value="USD">USD</mat-option>
				<mat-option value="EUR">EUR</mat-option>
				<mat-option value="UAH">UAH</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Value</mat-label>
			<input (input)="getInpValue($event)" matInput id="inpOne" type="number" />
		</mat-form-field>
	</div>
	<button mat-icon-button color="primary" aria-label="Example icon button with a compare_arrows">
		<span class="material-icons"> compare_arrows </span>
	</button>
	<div class="currency second-currency">
		<mat-form-field appearance="fill">
			<mat-label>Currency</mat-label>
			<mat-select [(ngModel)]="valOneInt">
				<mat-option value="USD">USD</mat-option>
				<mat-option value="EUR">EUR</mat-option>
				<mat-option value="UAH">UAH</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Value</mat-label>
			<input
				matInput
				(input)="getInpValue($event)"
				matInput
				id="inpTwo"
				type="number"
				[(ngModel)]="resultValInpTwo"
				value="resultValInpTwo" />
		</mat-form-field>
	</div>
</div>
<button (click)="onClick()">Click</button>
